@using MediatR
@using MediatRPOC

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <button onclick="setText()" id="pocButton">Click to ping</button>
    <label id="resultLabel"/>
</div>

    <script type="text/javascript">
        function setText() {
            var result = '@Url.Action("PingPong")';
            $.get('@Url.Action("PingPong")', {}, 
                function(result) { 
                    document.getElementById("resultLabel").innerHTML = result;
                });            
        }        
    </script>
